  #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.temperatureContent {
  display: flex;
  padding: 28px 0;
  flex-direction: row;
  justify-content: space-evenly;
}

.temperatureContainer {
  /* width: 118px; */
  border-radius: 18px;
  padding: 11px;
  margin: 0 5px;
  background-color: #f1f0f0;
}

.temperatureSubItem {
  font-size: 1rem;
}

.temperatureItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.temperatureItems h3 {
  margin: 10px auto;
  text-align: center;
  font-weight: 400;
}

.recomendations {
  padding: 16px;
}

.recomendationsList {
  margin: 15px auto;
  width: 80%;
  padding: 12px;
  border-radius: 8px;
  background-color: #f1f0f0;
}

.map {
  padding: 10px 15px;
}
.mapIframe {
  margin: 1rem auto;
  height: 10rem;
  max-width: 80vw;
  border-radius: 8px;
  background-color: #f1f0f0;
}

.saveButton {
  height: 40px;
  width: 120px;
}

.save {
  height: 3rem;
  border: none;
  border-radius: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}